extends layout2

block content
  h1 Welkom op je Account #{user.name}!
  div(class="w3-card w3-round middle padding", id="wit")
      div(class="w3-container w3-padding")
                    if(showErrors==true)
                        ul(class="errors")
                            for val in errors
                                li!= val
      div(class="w3-container  w3-padding centeralign")
              h5(class="clearfix")
                  |Je hebt nog #{user.aantStemmen} 
                  if(user.aantStemmen===1) 
                      | stem
                  else
                      | stemmen
              a(href="/liedje")
                  img(src="../images/GoVote.png",alt="stem hier", width="60")     
      div(class="w3-card w3-round middle2 purple  ")
          div(class="w3-container w3-padding")
              if(user.aantStemmen<3)
                div Mijn liedjes:
              else
                div Je hebt nog geen liedjes gekozen
          div(class="w3-container w3-padding")
              each stem in stemmen
                  form(method='POST', action='')
                      div.form-group
                          li  
                              button.btn.btn-primary(class='w3-button w3-white w3-border w3-border-red w3-round floatright',type='submit')
                                  i(class="fa fa-trash")
                              |#{stem.titel} van #{stem.artiestNaam}
                              input#stemid.form-control(type='hidden', name='stemid', required='true', value=stem._id)
                              input#stemid.form-control(type='hidden',name='titel', required='true', value=stem.titel, class="clearfix")
                              
  
      div(class="w3-card w3-round middle2 purple",id='top')
          div(class="w3-container w3-padding")
              | Hey jij daar! Moedig je vrienden aan om ook op jouw favoriete liedjes te stemmen:
          div(class="w3-container w3-padding")
              #fb-root
              script.
                  (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/nl_BE/sdk.js#xfbml=1&version=v3.2&appId=502849933557463&autoLogAppEvents=1';
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
              .fb-share-button(data-mobile-iframe='true', data-size='small', data-layout='button', data-href='https://back2theludieke90s.herokuapp.com/homepage')
                a.fb-xfbml-parse-ignore(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fback2theludieke90s.herokuapp.com%2Fhomepage&amp;src=sdkpreparse", target='_blank') Delen
      