extends layout

block content
  h1(style=headStyle)= title
  div
    | welkom tot je nieuwe account #{user.name} je hebt nog #{user.aantStemmen} 
    | Op deze liedjes heb ik gestemd:
    if(user.aantStemmen>1)
      |stemmen
    else 
      |stem
    each stem in stemmen
        form(method='POST', action='')
            div.form-group
                li #{stem.titel} van #{stem.artiestNaam}
                    input#stemid.form-control(type='hidden',name='stemid', required='true', value=stem._id)
                    input#stemid.form-control(type='hidden',name='titel', required='true', value=stem.titel)
                    button.btn.btn-primary(style="margin-left:20px",class='w3-button w3-white w3-border w3-border-red w3-round',type='submit',allign="center")
                        i(class="fa fa-trash")
    if(showErrors==true)
        ul(class="errors")
            for val in errors
                    li!= val  
    
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/nl_BE/sdk.js#xfbml=1&version=v3.2&appId=502849933557463&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .fb-share-button(data-href='http://localhost:3000/users/account', data-mobile-iframe='true', data-size='small', data-layout='button')
      a.fb-xfbml-parse-ignore(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A3000%2Fusers%2Faccount%2F&src=sdkpreparse', target='_blank') Delen
  
      