extends layout
block content
    h1 LIEDJESSTEMPLAATS
    form(method='post', action='')
        div.form-group
            .label(style=bodyStyle, for='titel') Titel: 
                input#titel.form-control(name = "titel", type="text", placeholder="vb Baby" value=(undefined===liedje ? '' : liedje.titel))
            .label(for="artiestNaam", style=bodyStyle) Artiest: 
                input#artiestNaam.form-controle(name="artiestNaam", type="text", placeholder="vb Justin Bieber"  value=(undefined===liedje ? '' : liedje.artiestNaam)) 
                div(text-allign='center')
                    button.btn.btn-primary(class='w3-button w3-white w3-border w3-border-red w3-round',type='submit',allign="center", value="zoek") zoek
      
        if(showErrors==true)
            ul(class="errors")
                for val in errors
                        li!= val
                        
    div(class='searchResultaat') 
        if(niets===0)
            | geen resultaten
        else if(tracks)
            -var temp=0;  
            |Bedoelde je aan van deze liedjes
            each val in tracks.results.trackmatches.track              
                form(method='POST', action='liedje/stem')
                    div.form-group  
                        if(img)        
                            -var url=img[temp++]
                            img(src=url)
                            
                        |#{val.name} 
                        input#titel2.form-control(name = "titel2", type="text", placeholder="vb Baby" value=val.name, hidden=true)
                        |van 
                        | #{val.artist}
                        input#artiest2.form-control(name = "artiest2", type="text", placeholder="vb Baby" value=val.artist,hidden=true)
                        button.btn.btn-primary(class='w3-button w3-white w3-border w3-border-red w3-round',type='submit',allign="center", value="stem") stem