extends layout2
block content
    -var row =1;
    h1=title
    div(class="bigmiddle w3-card w3-round")
        table(class="tabel w3-striped w3-white")
            tr(class="w3-red")
                th
                th Titel
                th Artiest
                th Stemmen
                each liedje in liedje_list
                    tr
                        td #{row++} 
                        td #{liedje.titel}
                        td #{liedje.artiestNaam}
                        td #{liedje.aantStemmen}
    form(class='form-inline')
        div
            label(class="label, for="ajaxLiedje") Liedje:
            input(type="text", onKeyUp='showHint(this.value)', class="form-control", name="zoekLiedje", placeholder="zoek liedje")
    table(class="tabel2 w3-striped w3-white", id="idveld")
    label(class="label2 middle",id='idveld2')
    script(src="/ajax.js")